#container {
    width:100%;
    height:200px;
}
#one {
    width:33.333%;
    height:200px;
    float:left;
    background-color:red;
}
#two {
    width:33.333%;
    height:200px;
    float:left;
    background-color:yellow;
}
#three {
    width:33.333%;
    height:200px;
    float:left;
    background-color:blue;
}
